.g-clickable {
  outline: none;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }

    &:focus {
      opacity: 0.8;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}


.g-mt {
  margin-top: 30px;
}

.g-mt-l {
  margin-top: 10px;
}
