:root {
  // common
  --background: #fff;
  --color: #000;
  --color-reverse: #fff;
  --primary-dark: #337ecc;
  --primary: #409eff;
  --primary-light: #79bbff;
  --danger: #f56c6c;
  // dialog
  --background-dialog-mask: rgba(0, 0, 0, 0.3);
  // toast
  --toast-background: #67c23a;
}
